body{
	background: #000;
	overflow: hidden;
	margin: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;      

}

/** GAME **/
#game_container{
	background: #000;
	width:360px;
	height:640px;

	position: absolute;
	margin:auto;
	top:0; bottom:0; left:0; right:0;
}
#game{
	width:360px;
	height:600px;
	overflow: hidden;
	position: absolute;
}

/** SOCIAL **/
#social{

	position: absolute;
	bottom:0; right:0;
	
	color: #666;
	text-align: right;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 100;

	padding: 12px;
	height:16px;

}
#social a{
	text-decoration: none;
	opacity: 0.5;
	color: #fff;

	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
#social a:hover{
	opacity: 1.0;
}

/** LOADING **/
#game > #loading, #game > #credits, #game > #blank{
	position: absolute;
	display: none;
	width:100%;
	height:100%;
	background: #222;
}
#game[screen=loading] > #loading{
	display: block;
}
#game[screen=credits] > #credits{
	display: block;
}
#game[screen=blank] > #blank{
	background: #000;
	display: block;
}
#loading > div{
	
	color: #fff;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	
	letter-spacing: 9px;

	width: 200px;
	height: 70px;
	
	position: absolute;
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 0;
	
}
#loading > div > #loading_bar{
	height: 5px;
	background: #fff;
	width: 0%;
	margin: 10px auto 0 auto;

	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-ms-transition: width 0.5s;
	-o-transition: width 0.5s;
	transition: width 0.5s;

}
#credits > div{

	width:320px;
	height:360px;
	position: absolute;
	margin:auto;
	top:0; bottom:0; left:0; right:0;

	color: #fff;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 20px;
	text-align: center;

}
#credits a{
	color:#cc2727;
}
#credits a:hover{
	color:#dd3838;
}

/** Background **/
#game #background{
	position:absolute;
	bottom:120px;
	width:100%;height:520px;
	background-repeat: none;
	background-color: #000;
	overflow: hidden;
}
#game #background > div{
	position: absolute;
}


/** Choices **/
#game #choices{
	background:#222;
	position:absolute; bottom:0;
	width:100%; height:90px;
	padding: 15px 0;
}
#game #choices > div{

	background:#222;
	width:350px; height:18px;
	padding: 6px;

	white-space: nowrap;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: #bbb;
	text-align: center;

	cursor: pointer;

	position: relative;
	top:10px;
	opacity:0;

	-webkit-transition: top 0.3s, opacity 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s;
	-ms-transition: top 0.3s, opacity 0.3s;
	-o-transition: top 0.3s, opacity 0.3s;
	transition: top 0.3s, opacity 0.3s;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;   

}
#game #choices > div[shown=true]{
	top:0px;
	opacity: 1;
}
#game #choices > div:hover{
	background: #444;
	color:#fff;
}

/** Dialogue **/
#game #dialogue{
	position: absolute;
	top:20px;
	width:100%;
	cursor: default;

	-webkit-transition: top 0.1s ease-in-out;
	-moz-transition: top 0.1s ease-in-out;
	-ms-transition: top 0.1s ease-in-out;
	-o-transition: top 0.1s ease-in-out;
	transition: top 0.1s ease-in-out;
}
#game #dialogue > div{
	position: relative;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 16px;
	display: inline-block;
	max-width: 280px;
	padding:10px;
	border-radius: 5px;
	margin:25px;
	margin-top: 10px;
	margin-bottom: 0;
	clear: both;

	opacity: 0;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-ms-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;



	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;   

}
#game #dialogue > div:after{
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-width: 10px;
	margin-top: -10px;
}
#game #dialogue > div.left{
	text-align: left;
	float:left;
}
#game #dialogue > div.left:after{
    right: 100%;
	border-right-color: inherit;
}
#game #dialogue > div.right{
	text-align: right;
	float:right;
}
#game #dialogue > div.right:after{
    left: 100%;
    border-left-color: inherit;
}